# Ignore everything by default
*

# mlx
!mlx/

# Allow traversing directories so whitelist rules can match nested files
!*/

# Whitelist
!.gitignore
!Makefile
!*.c
!*.h
!*.cub
!*.xpm
!*.md
!*.txt
!*.sh
!*.log